@{
    ViewData["Title"] = "car in a View";
}
<h1>@ViewData["Title"]</h1>

<p>Here are some cars Available: <br>1.Audi <br>2.BMW<br> 3.Ford<br> 4.Honda</p>

  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Welcome">Go Back to Welcome page</a>