@{
    ViewData["Title"] = "car in a View";
}
<h1>@ViewData["Title"]</h1>

<p>This is my new car</p>

  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Welcome">Go Back to Welcome page</a>